<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="song.colorur">

    <application
        android:name=".ColorURApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".Activitys.MainActivity"
            android:label="彩超">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.PlusActivity"
            android:label="@string/title_activity_plus" />
        <activity
            android:name=".Activitys.FocusActivity"
            android:label="@string/title_activity_focus" />
        <activity
            android:name=".Activitys.RangeActivity"
            android:label="@string/title_activity_range" />
        <activity
            android:name=".Activitys.MeasureActivity"
            android:label="@string/title_activity_measure" />
        <activity
            android:name=".Activitys.NoteActivity"
            android:label="@string/title_activity_note" />
        <activity
            android:name=".Activitys.ClearActivity"
            android:label="@string/title_activity_clear" />
        <activity
            android:name=".Activitys.MinusActivity"
            android:label="@string/title_activity_minus" />
        <activity
            android:name=".Activitys.WaveActivity"
            android:label="@string/title_activity_wave" />
        <activity
            android:name=".Activitys.SoundActivity"
            android:label="@string/title_activity_sound" />
        <activity
            android:name=".Activitys.BackActivity"
            android:label="@string/title_activity_back" />
        <activity
            android:name=".Activitys.SaveImageActivity"
            android:label="@string/title_activity_save_image" />
        <activity
            android:name=".Activitys.SaveVideoActivity"
            android:label="@string/title_activity_save_video" />
        <activity
            android:name=".Activitys.Mode1Activity"
            android:label="@string/title_activity_mode1" />
        <activity
            android:name=".Activitys.Mode2Activity"
            android:label="@string/title_activity_mode2" />
        <activity
            android:name=".Activitys.StopActivity"
            android:label="@string/title_activity_stop" />
        <activity
            android:name=".Activitys.LineActivity"
            android:label="@string/title_activity_line" />
        <activity
            android:name=".Activitys.PatientActivity"
            android:label="@string/title_activity_patient" />
        <activity
            android:name=".Activitys.EditActivity"
            android:label="@string/title_activity_edit">
        </activity>



    </application>

</manifest>